#input_box {
    dock: bottom;
    height: auto;
    width: 100%;
    margin: 0 0 2 0;
    align_horizontal: center;
}

#message_input {
    width: 50%;
    background: #343a40;
}

#send_button {
    width: auto;
}

MessageBox {
    layout: horizontal;
    height: auto;
    align-horizontal: center;
    /* text-wrap: true; */
}

.message {
    width: auto;
    min-width: 25%;
    border: tall black;
    padding: 1 3;
    margin: 1 0;
    background: #343a40;
    /* text-wrap: true; */
}

.question {
    margin: 1 25 1 0;
    /* text-wrap: true; */
}

.answer {
    margin: 1 0 1 25;
    /* text-wrap: true; */
}